<div class="login">

  <h2>Inicio de Sesion</h2>
  
  <form [formGroup]="loginForm">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ej. pat@example.com" formControlName="email">
      
      </mat-form-field>
    </p>
        
    <p>

      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="*********" formControlName="password">
      
      </mat-form-field>
    </p>
    <p>
      <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="ingresar()">Ingresar</button>
  
    </p>
  </form>
  {{loginForm.value|json}}
  {{ loginForm.valid }}

</div>